// Place all the styles related to the securities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-box {
  background:rgba(0,0,0, 0.5);
  color:white;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-box {
  text-align: center;
  color: white;

  input.string.optional.form-control {
  }

  input.btn {
    background: black;
  }
}

.clear {
  clear: both;
}

.home-page {
  background:rgba(255,255,255, 0.5);
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  h1 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 900;
  }
}

.navbar.navbar-inverse {
  .navbar-brand {
  }
}
