// Place all the styles related to the securities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url('background.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-box {
  text-align: center;
  color: white;

  input.string.optional.form-control {
  }

  input.btn {
    background: black;
  }
}
